html {
  box-sizing: border-box;
  font-size: 16px;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

ol,
ul {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}

:root {
  --primary-color: #ee523d;
  --secondary-color: #d3d3d3;
  --font-color: #272a31;
  --font-family: "Lato", sans-serif;
  --cocogoose: "COCOGOOSE", arial, helvetica, sans-serif;
}

body {
  font-family: var(--font-family);
}

h1,
h2,
h3 {
  font-family: var(--cocogoose);
}

a {
  text-decoration: none;
}

li {
  list-style-type: none;
}
